.fab{
    -webkit-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
    outline: 0;
    font-size: 2.5rem !important;
    background-image: linear-gradient(to right, rgb(255, 0, 0), rgba(255, 59, 59, 0.824));
}

.fab:focus{
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.run{
    background-image: linear-gradient(to bottom, rgb(38, 218, 10), rgba(180, 255, 165, 0.1));
}

.bike{
    background-image: linear-gradient(to bottom, rgb(220, 240, 0), rgba(247, 92, 247, 0.8));
}

.water{
    background-image: linear-gradient(to bottom, rgb(10, 69, 218), rgba(165, 255, 235, 0.1));
}

.abstain{
    background-image: linear-gradient(to bottom, rgba(252, 2, 2, 1),  rgba(255, 119, 0, 1));
}