body{
    background-image: url("http://getwallpapers.com/wallpaper/full/c/d/7/401569.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    height: auto;
}

.loginContainer{
  margin-top: 200px;
}

.loginDiv{


}

.signUpDiv{

}